@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@100;400&display=swap');




:root {
    --main-color: #fcb816;
    --black: #ffffff;
    --bg: #ffffff;
    --border: .1rem solid rgba(3, 3, 3, 0.3);
    --borderr: .1rem solid rgba(255, 255, 255, 0.3);
    --main-bg-color: #13131a;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #13131a;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}




.boxi5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.section3rd_1box {
    width: 85%;
}


.section3rd_1box .head1 {
    font-size: 5rem;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #002c42;
    margin-top: 17px;
}

.section3rd_1box .head2 {
    width: 97%;
    font-size: 1.6rem;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    color: #000000;
    margin-top: 25px;
}

/* All button style */


.button_x1x {
    background-color: #03a9f5;

    border: solid #03a9f5 1px;
    margin-top: 30px;
    font-size: 1.5rem !important;
    width: 20rem !important;
    height: 4.5rem !important;
    font-weight: 700 !important;

    font-family: 'Montserrat', sans-serif;
    border-radius: 24px;
    color: #ffffff;

    cursor: pointer;
}


.button_x1x:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.button_x1x:hover:not(:disabled) {
    background: #bd2a7a;
    color: #ffffff;
    border: none;

}

.button_x1x:disabled {
    cursor: auto;
    color: grey;
}


.button_3 {
    background-color: #ffffff;
    border: none;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 5px;
    font-size: 1.5rem !important;
    width: 20rem !important;
    height: 4.5rem !important;
    font-weight: 700 !important;

    font-family: 'Montserrat', sans-serif;
    border-radius: 24px;
    color: #03a9f5;
    cursor: pointer;
}

.button_3:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.button_3:hover:not(:disabled) {
    background: #bd2a7a;
    color: #ffffff;

}

.button_3:disabled {
    cursor: auto;
    color: grey;
}


.button_4 {

    background-color: #ffffff;
    border: solid white 1px;

    font-size: 1.5rem !important;
    width: 20rem !important;
    height: 4.5rem !important;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif;

    border-radius: 24px;
    color: #03a9f5;
    cursor: pointer;
}

.button_4:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.button_4:hover:not(:disabled) {
    background: #bd2a7a;
    color: #ffffff;
    border: solid #5278bf 1px;
    font-weight: 600;

}

.button_4:disabled {
    cursor: auto;
    color: grey;
}




.button_5 {
    margin-left: 10px;
    background-color: #64c3e6;
    border: solid rgb(255, 255, 255) 1px;

    font-size: 1.5rem !important;
    width: 20rem !important;
    height: 4.5rem !important;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif;

    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
}

.button_5:hover:not(:disabled) {
    background: #bd2a7a;
    color: #ffffff;
    border: solid #5278bf 1px;



}

.button_6 {
    margin-left: 10px;
    background-color: #64c3e6;
    border: none;

    font-size: 1.5rem !important;
    width: 20rem !important;
    height: 4.5rem !important;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif;

    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
}

.button_6:hover:not(:disabled) {
    background: #bd2a7a;
    color: #ffffff;
    border: solid #5278bf 1px;
}






.buttpoon_1 {
    background-color: #03a9f5;
    border: none;
    font-size: 1.5rem !important;
    width: 20rem !important;
    height: 4.5rem !important;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif;
    border-radius: 24px;
    color: #ffffff;

    cursor: pointer;
}

.buttpoon_1:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.buttpoon_1:hover:not(:disabled) {
    background: #bd2a7a;
    color: #ffffff;
    border: solid #5278bf 1px;

}

.buttpoon_1ox:disabled {
    cursor: auto;
    color: grey;
}

.box_button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_buttonn {
    margin-top: 10px;
}

.box_buttonnn button:hover:not(:disabled) {
    background: #bd2a7a;
    color: #ffffff;
    border: solid #5278bf 1px;
}

.box_buttonnn button {
    margin-left: 10px;
    background-color: #ffffff;
    border: none;
    margin-top: 30px;
    margin-left: -1px;
    font-size: 1.5rem !important;
    width: 22rem !important;
    height: 4.5rem !important;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif;

    border-radius: 24px;
    color: #03a9f5;
    cursor: pointer;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.5rem !important;
    color: #03a9f5;
    background: #ffffff;
    cursor: pointer;
    width: 50%;
    border-radius: 40px;
}

.btn:hover {
    letter-spacing: .2rem;
    background: #bd2a7a;
    color: #ffffff;
    border: solid #5278bf 1px;
}

/* button style end */



.heading {
    text-align: center;
    color: #13131a;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}




.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    /* box-shadow: 0px 0px 4px rgb(135, 121, 121); */
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

.header .logo img {
    height: 5rem;
    margin-left: 50px;
}

.header .logo .ligi {
    height: 7rem;
    margin-left: 100px;
}

.header .navbar a {
    margin: 0 2rem;
    font-size: 2rem;
    color: #000000;
}

.header .navbar a:hover {
    color: #7c3087;
    font-weight: 500;
    border-bottom: .1rem solid #7c3087;
    padding-bottom: .5rem;
}

.header .icons div {
    color: #13131a;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: #7c3087;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #13131a;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--main-bg-color);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #13131a;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/Section.svg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 8rem;
    text-transform: uppercase;
    color: #ffffff;
}

.home .content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ffffff;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about.row.content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about.row.content h3 {
    font-size: 3rem;
    color: #13131a;
}

.about.row.content p {
    font-size: 1.6rem;
    color: #13131a;
    padding: 1rem 0;
    line-height: 1.8;
}











.about .row2 {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
}


.about .row2 .image {
    flex: 1 1 45rem;
}

.about .row2 .image img {
    width: 100%;
}

.about.row2.content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about.row2.content h3 {
    font-size: 3rem;
    color: #13131a;
}

.about.row2.content p {
    font-size: 1.6rem;
    color: #13131a;
    padding: 1rem 0;
    line-height: 1.8;
}

.row3 {
    display: flex;
}

.content .icon_box {
    margin-bottom: 50px;
}

.content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

/* .about .row .container reveal fade-left .giro{
    width: 300px;
    border-radius: 300px;
} */
/* .active.fade-left {
    animation: fade-left .8s ease-in;


} */
.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #13131a;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}


.footer .share a{
    background:#ffffff;
}
.footer .share a:hover {
    background-color:#64c3e6;
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #ffffff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: linear-gradient(to right, #3264f5 2%,#7004bc 82%);
}

.footer .credit {
    font-size: 2rem;
    color: #ffffff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color:#03a9f5;
}

@keyframes fade-left {
    0% {
        transform: translateX(-400px);
        opacity: 0;
    }

    100% {
        transform: translateX(50px);
        opacity: 1;
    }
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 5rem;
    font-weight: 500;
    color: #002c42;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #002c42;
    padding: 1rem 0;
    line-height: 1.8;
}






.about .row2 .content {
    flex: 1 1 45rem;
    padding: 2rem;
}


.p_section {
    font-weight: 600;
    font-size: 1.7rem !important;
}

.about .row2 .content h3 {
    font-size: 5rem;
    font-weight: 500;
    color: #ffffff;
}

.about .row2 .content p {
    font-size: 1.6rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 1.8;
}


.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {

    text-align: center;

}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #13131a;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #13131a;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background: #C0C0C0;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
    border-radius: 30px;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #13131a;
    margin: .3rem;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box .content h3 {

    font-size: 1.8rem;
    line-height: 24px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.products .box-container .box .content p {

    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price {
    color: #13131a;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #13131a;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #13131a;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}

.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #13131a;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: #13131a;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #13131a;
    text-transform: none;
    background: none;
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #13131a;
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #13131a;
    padding: 1rem 0;
}

.content1 img {
    width: 250px;
    margin-left: 85px;
    margin-right: 100px;
    border-radius: 200px;
}

/* media queries  */

@media (max-width: 900px) {
    .row3 {
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .row4 {
        display: flex;


        flex-direction: column;
        align-items: flex-start;



        align-items: flex-start;
        gap: 0px;

    }

    .image .fun {
        width: 40vh;
    }
}





@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}





@media (max-width:768px) {

    .about .row2 {
        flex-direction: column-reverse;
        align-items: flex-start;

    }

    .about .row2 .image img {
        width: 100%;
    }

    .about .row2 .image {
        flex: 1 1 0rem;
    }



    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: linear-gradient(to right, #3264f5 2%, #7004bc 82%);
        ;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content {
        flex-direction: column;
        align-items: center;

    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }


}

@media (max-width:450px) {

    html {
        font-size: 50%;

    }



}


@media (max-width:500px) {

    .box_buttonn {
        gap: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


    }



}


.container1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(bb5.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}



.logol {
    width: 120px;
    cursor: pointer;
}

.tex-box1 {
    color: rgb(#fff);
    position: absolute;
    bottom: 8%;
}

.tex-box1 p {
    font-size: 50px;
    font-weight: 600;

}

.tex-box1 h1 {
    font-size: 160px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(bbb.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;



}

@keyframes back {
    100% {
        background-position: 2000px 0;

    }
}

.tex-box1 h3 {
    font-size: 40px;
    font-weight: 500;

}

.tex-box1 .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tex-box1 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.tex-box1 a span {
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}

@media screen and (min-width: 601px) {
    div.container1 h1 {
        font-size: 125px;
        line-height: 120px;
        margin-left: -16px;
    }
}

@media screen and (max-width: 600px) {
    div.container1 h1 {
        font-size: 77px;
        line-height: 91px;
    }
}





.about .row4 .content h3 {
    font-size: 3rem;
    color: #002c42;

}

.about .row4 .content p {
    font-size: 1.5rem;
    color: #002c42;
    padding: 1rem 0;
    line-height: 1.8;
}


.row4 {
    display: flex;
    gap: 25px;



}








.about .row3 .content h3 {
    font-size: 3rem;
    color: #002c42;

}

.about .row3 .content p {
    font-size: 1.5rem;
    color: #002c42;
    padding: 1rem 0;
    line-height: 1.8;
}


.about .row4 .content h3 {
    font-size: 3rem;
    color: #002c42;

}

.about .row4 .content p {
    font-size: 1.5rem;
    color: #002c42;
    padding: 1rem 0;
    line-height: 1.8;
}




.space {
    height: 80px;
}


.headx {
    font-size: 3.2rem;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: #002c42;
    margin-top: 17px;
}


.boxxis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxxis .box_button {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttpoon_1 {
    background-color: #64c3e6;
    border: none;


    font-size: 20px;

    width: 196px;
    height: 50px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    border-radius: 24px;
    color: #ffffff;

    cursor: pointer;
}

.buttpoon_1:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.buttpoon_1:hover:not(:disabled) {
    background: #bd2a7a;
    color: #ffffff;

}

.buttpoon_1ox:disabled {
    cursor: auto;
    color: grey;
}

.box-container .box {
    background: linear-gradient(to right, #3264f5 32%, #7004bc 83%);
    ;
}


.box-container .box:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}




.footer {
    background: linear-gradient(to right, #3264f5 2%,#7004bc 82%);
    text-align: center;
}




#parallax {
    /* The image used */
    background-image: url("images/Section.svg");

    /* Set a specific height */


    /* Create the parallax scrolling effect */
    padding-top: 50px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#readMore:hover {
    color:#000000;
    font-weight: 400;
}

#readLess:hover {
    color:#000000;
    font-weight: 400;
}


#readMore {
    display: ;
    font-size: 15px;
    cursor: pointer;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

#readLess {
    display: none;
    font-size: 15px;
    cursor: pointer;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}




#readMore1:hover {
    color:#000000;
    font-weight: 400;
}

#readLess1:hover {
    color:#000000;
    font-weight: 400;
}

#readMore1 {
    display: ;
    font-size: 15px;
    cursor: pointer;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

#readLess1 {
    display: none;
    font-size: 15px;
    cursor: pointer;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}



#readMore2:hover {
    color:#000000;
    font-weight: 400;
}

#readLess2:hover {
    color:#000000;
    font-weight: 400;
}


#readMore2 {
    display: ;
    font-size: 15px;
    cursor: pointer;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

#readLess2 {
    display: none;
    font-size: 15px;
    cursor: pointer;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}



#box_img_1 img{
    border-radius: 100%;
}